body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    position: relative;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 170px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px;
    text-align: center;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 150%;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: white;
    color: #428bca;
}

.sidebar-toggle {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1100;
}

.sidebar-toggle.hidden {
    display: none;
}

.close-sidebar {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition: 400ms;
}

/* Card Hover Member */

.card {
    width: 170px;  /* Adjusted card width */
    height: 400px;  /* Adjusted card height */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 18px;  /* Adjusted padding */
    perspective: 1990px;
    margin: 30px;  /* Adjusted margin */
    float: left;
    left: 90px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;  /* Adjusted wrapper width */
    height: 100%;  /* Adjusted wrapper height */
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 50px;
}

.title {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}
